**/.DS_Store
**/.licenses/
**/dist/
**/node_modules/
**/coverage/
**/pnpm-lock.yaml
**/.git/
**/*.log
**/*.lock
**/.changeset/
**/CHANGELOG.md
**/.cache/
**/.rollup.cache/
**/*.tsbuildinfo
**/*.js.map
# Common build and output folders
**/build/
**/out/
**/tmp/
**/temp/
**/logs/
# Framework and tool specific
**/.next/
**/.vercel/
**/.nuxt/
**/.expo/
**/.firebase/
**/.idea/
**/.vscode/
**/.yarn/
**/.history/
**/.sass-cache/
**/.nyc_output/
**/.parcel-cache/
**/.eslintcache
**/.cache-loader/
**/.serverless/
**/.storybook/
**/.cypress/
**/.turbo/
# Miscellaneous
**/*.tgz
**/*.bak
**/*.swp
**/*.tmp
**/*.pid
**/*.coverage
**/*.env*
**/*.local
**/.env/




